@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

.w-120px {
  width: 120px;
}

.mh-512px {
  max-height: 512px;
}

.absolute--center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* https://stackoverflow.com/questions/31109299/css-transform-translate-50-50-makes-texts-blurry */
.absolute--center--children-fix {
  transform: translateZ(0);
}

.invisible {
  display: none;
}

.bg-black-a70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.transition--opacity {
  transition: opacity 400ms;
}

.events--all {
  pointer-events: all;
}

.events--none {
  pointer-events: none;
}
